*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
  font-family: 'Lato', sans-serif;
}
i{
  color: #c2cbd8;
  font-size: 14px;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 90px;
}


/* Header css start from here */
header{
  border-bottom:1px solid #e9edf3;
}
.nav-profile-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
    justify-content: space-between;
    height: 58px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  box-sizing: border-box;
}

.nav-profile-wrapper ul li{
  display: inline-block;
  margin-right: 42px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}

.nav-profile-wrapper ul li i {
  margin-right: 12px;
  color: #c2cbd8;
  font-size: 20px;

}
.nav-profile-wrapper ul li.active{
  color: #000000;
  font-weight: 600;
}
.nav-profile-wrapper ul li.active i{         
        background: -webkit-linear-gradient( to right ,#3FABFF, #006BFF);    
        background: linear-gradient(to right, #3FABFF , #006BFF);    
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.profileImage{
  width: 33px;
  height: 33px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  border: 1px solid #e9edf3;
  margin-right: 10px;
}
.profileImage img{
  width: 100%;
  height: 100%;
}

.user-profile{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.profileName{

  color: #000000;
  font-size: 14px;
  font-weight: 500;
}

.profileName span{
  margin-left: 10px;
  font-size: 18px;
  color: #a6b2c4;
  cursor: pointer;
}

.dropDown{
  position: absolute;
  top: 50px;
  visibility: hidden;
  width: 150%;
  padding: 10px 0;
  right: 0;
  border-radius: 3px;
  box-shadow: 0px 0px 6px 0px #e6e6e6;
  transition: .1s linear;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  -o-transition: .1s linear;
}
.dropDown.active{
  top: 45px;
  visibility: visible;
}
.dropDown a{
  display: block;
  color: #000;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.dropDown a:last-child{
  border: none;
  margin: 0;
  padding-bottom: 0;
}

.dropDown a i{
  margin-right:8px;
}

/* bredcrumb styling start from here */
.bredcrumb {
  padding-top: 35px;
}
.bredcrumb ul li{
  display: inline-block;
  margin-right: 15px;
  color: #000;    
  font-size: 14px;

}
.bredcrumb ul li a{
    text-decoration: none;
    color: #5C799A;    
    font-size: 14px;
    font-weight: 400;
}
.bredcrumb ul li a:after{
  content: "\f105";
  font-family: fontAwesome;
  margin-left: 15px;
  font-size: 26px;
  vertical-align: middle;
  color: #c2cbd8;
}

/* add team */
.team-from{
  margin-top: 35px;
}
.team-from h1{
  color: #000000;
  font-family: Lato;
  font-size: 37px;
  margin-bottom: 50px;
}
.team-from h1 i {
  margin-right: 30px;
    background: -webkit-linear-gradient( to right ,#3FABFF, #006BFF);    
    background: linear-gradient(to right, #3FABFF , #006BFF);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-wrapper .from-group {
  margin-bottom: 25px;
}
.form-wrapper .from-group .from-control{
  width: 100%;
  min-width: 603px;
  display: block;
  border-radius: 6px;
  height: 44px;
  border: 1px solid #e9edf3;
  padding: 0 20px;
  color: #477BA1;
  font-size: 15px;
  font-weight: 300;
}

.form-wrapper .from-group label{
  font-size: 15px;
  margin-bottom: 13px;
  display: block;
  color: #000000;
}

.add-team-btn{
  border-radius: 6px;
  width: 92px;
  height: 39px;
  background-color: #62d236;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  cursor:pointer;
  outline: none;
  margin-top: 20px;
  margin-left: auto;
}
.add-team-btn i{
  color: #fff;
  opacity: 0.6;
  font-size: 24px;
  vertical-align: sub;
  margin-right: 15px;

  
}

/* members */
.members{
  margin-top: -40px;
  border-bottom: 1px solid #f4f6f8;
  padding-bottom: 28px;
  margin-bottom: 23px;
}
.members h2{
  color: #000000;
  font-size: 27px;
  font-weight: 400;
}
.member_list {
  margin-top: 22px;
}
.member_list ul li{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #f4f6f8;
  border-bottom: 1px solid #f4f6f8;
  padding-top: 15px;
  padding-bottom: 15px;
}
.member_list ul li .userInfo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.userInfo .profileImage{
  width: 40px;
  height: 40px;
}
.member_list ul li .userInfo .memberName{
  color: #000000;
  font-family: Lato;
  font-size: 15px;
  margin-left: 14px;
}
.member_list ul li .userInfo .designation{
  color: #477BA1;
  font-family: Lato;
  font-size: 15px;
  margin-left: 19px;

}
.country-action{
  display: flex;
    justify-content: space-between;
    width: 50%;
}
.member_list ul li  .country{
  color: #477BA1;
  font-family: Lato;
  font-size: 15px;
}

.member_list ul li .action{
  color: #000000;
  font-family: Lato;
  font-size: 15px;
  text-transform: capitalize;
}
.member_list ul li .remove{
  cursor: pointer;
}
.member_list ul li .remove i{
  color: #e86b60;
  margin-right: 9px;
  font-size: 18px;

}

.badge{
  background: -webkit-linear-gradient( to right ,#3FABFF, #006BFF);    
  background: linear-gradient(to right, #3FABFF , #006BFF);   
  display: inline-flex;
  color: #FFFFFF;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-left: 23px;
  justify-content: center;
  align-items: center;
}
.admin-badge{
  background: -webkit-linear-gradient( to right ,#3FABFF, #006BFF);    
  background: linear-gradient(to right, #3FABFF , #006BFF);   
  display: inline-flex;
  color: #FFFFFF;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  border-radius: 12px;
  width: 54px;
  height: 21px;
  margin-left: 23px;
  justify-content: center;
  align-items: center;
}

.round{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.save-btn{
  border-radius: 6px;
  width: 92px;
  height: 44px;
  background: -webkit-linear-gradient( to right ,#3FABFF, #006BFF);    
  background: linear-gradient(to right, #3FABFF , #006BFF);   
  border: none;
  outline: none;
  margin-left: auto;
  color: #FFFFFF;
  display: block;
  font-family: Lato;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  margin-top: 85px;
  cursor: pointer;
}

footer p{
  color: #477BA1;
  font-family: Lato;
  font-size: 14px;
  text-align: center;
  margin-bottom: 23px;
}
footer p a{
  color: #1782FF;
  font-family: Lato;
  font-size: 14px;
  margin-left: 4px;
  text-decoration: none;
}